.nav {
    border-bottom: 1px solid black;
    background-color: rgb(214, 216, 218);
}

.nav_ul {
    display: flex;
    list-style-type: none;
    align-items: stretch;
    margin: 0;
    
}

.nav_li {
    flex: 3;
    flex-basis: 20%;
    text-align: left;
    border-right: 1px solid black;
    padding: 10px;
}

.nav_li_title {
    composes: nav_li;
    flex: 1
}

.nav_li:hover {
    color: white;
}


.main {

}

.blog {
    margin: auto; 
}

.summary {

}

.sidebar {
    display: flex;
    width:400px;

    }

.sidebar_elements {
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 10px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 15px 10px rgba(0,0,0,0.8);
    margin-left: 20px;
}


.sidebar_a {
    composes: sidebar_elements;
    flex:1;
    flex-basis: 40%;

}

.sidebar_b {
    composes: sidebar_elements;
    flex:1;
    flex-basis: 40%;
}

.ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
    -webkit-column-gap: .6em;
    -moz-column-gap: .6em;
         column-gap: .6em;
  }

.li {
    margin: 10px;
}

.titles_li {
    composes: li;
}

.tags_li {
    composes: li;
}

