.nav_ul {
    display: flex;
    list-style-type: none;
}

.nav_li {
    flex: 1;
}

.nav_li:hover {
    color: white;
}


.main {
    display: flex;
}

.blog {
    
}

.summary {
    display: flex;
}

.sidebar {
    display: flex;
    width:400px;

    }

.sidebar_elements {
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 10px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 15px 10px rgba(0,0,0,0.8);
    margin-left: 20px;
}


.sidebar_a {
    composes: sidebar_elements;
    flex:1;
    flex-basis: 40%;

}

.sidebar_b {
    composes: sidebar_elements;
    flex:1;
    flex-basis: 40%;
}

.ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

.li {
    list-style-type: none;
    margin: 10px;
}

.titles_li {
    composes: li;
}

.tags_li {
    composes: li;
}

