body {
  font-family: "Helvetica", serif;
  box-sizing: border-box;
  background-image:linear-gradient(rgb(91,177,251),rgb(67,144,240));
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;

}
