.main {
    width: 25%;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-content: baseline;
    text-align: center;

}

.imgForm {
    border: 1px solid red;

    
}
.button {
    background: #f6f7f8;
    border: 3px solid #cdced0;
    
	
}
.container {
    display: flex;
    padding: 5px;
    font-size: .6em;
    display: inline-block;
    cursor: pointer;
    composes: button;
    
}

.container:hover {
    background-color: grey;
}

.file { 

    position: absolute;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;	
    opacity: 0;
	overflow: hidden;
	z-index: -1;

}

.fileUploader input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.file_label {
    position: relative;
    flex: 1;
	background: #68a6e4;
    border: 1px solid #1748aa;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    

}

.flex_item {
    display: flex!important;
    justify-content: center!important;
}

.fakefile {
    position: absolute;
	top: 0px;
	left: 0px;
    z-index: 1;
    flex: 1;
    background: transparent;
    font-size: .8em;
    background: #f6f7f8;
	border: 1px solid #cdced0;
}

.file_container:hover {
    background-color: #4c5d6e;
    width: 25px;
}

.thumb {
    padding: 10px;
    border: none;

}

.img {
    width: 100%;
    border-radius:25px;
	-webkit-box-shadow: 0px 8px 8px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 8px 8px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 3px 5px rgba(0,0,0,0.2);
}

