.modal_overlay {
    position:fixed;
    background-color: rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
}

.post_form {
    width: 600px;
    border: 1px #f7f6f4 solid;
    border-radius: 5px;
    background-color: rgb(252,252,252);
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 10px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 15px 10px rgba(0,0,0,0.8);
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index:1;
    transform: translate(-50%, -50%);

}

.post_form:target {
    opacity:1;
    pointer-events: auto;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    
}

.main_content {
    display: flex;
    justify-content: space-evenly; 
}

.footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.label {
    padding-right: 5px;
}

.title_label {
    composes: label;
}

.tags_label {
    composes: label;
    font-size: .8em;
}

.input {
	box-shadow: none;
	border: none;
	border-radius: 25px;
	background-color: white;
	-webkit-box-shadow: 0px 8px 8px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 8px 8px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 3px 5px rgba(0,0,0,0.2);
}

.title_input {
    composes: input;
    flex: 1;
}

.tags_input {
    composes: input;
    flex: 2;
    
}

.textarea {
	height: 300px;
    width: 70%;
	resize: none;
    padding: 10px;
    border: none;
    border-radius:25px;
	-webkit-box-shadow: 0px 8px 8px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 8px 8px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 3px 5px rgba(0,0,0,0.2);
}

.select {
    flex: 1;
    color: green;
    margin: 1%;
}

.button {
    flex: 1;
    background: #f6f7f8;
    border: 3px solid #cdced0;
    
	
}

.button:first-of-type {
    border-right: none;
}

.button:hover {
    background: #b0b1b1;
    
}

.delete {
    composes: button;
    margin-left: 5px; 
    color: red;
}