.post {
  display: flex;
  margin:auto auto 20px auto;
  flex-direction: column;
  align-items: left;
  width: 700px;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.8);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 10px rgba(0,0,0,0.8);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 15px 10px rgba(0,0,0,0.8);
}

.title {
  font-size: 1.5em;
  margin-left: 1%;
}

.post_body {
  font-size: .8em;
  margin: 0 0 3% 3%;
}

.tags {
  font-size: .7em;
  margin-left: 10%;
}

.status {
  text-align: right;
  margin-right: 10%;
  font-size: .5em;
  font-style: italic;
}